
{% load i18n %}
{% load static %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
<link rel="icon" sizes="any" type="image/svg+xml" href="{% static 'assets/icons/quniv.svg' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bulma.min.css' %}" />

<link href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'libs/bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />

