{% load i18n %}
{% load static %}
{% load websites %}

{% if bio.links.all %}

<div class="box is-section mx-6 my-4">

  {% if LANGUAGE_CODE == 'en' %}
  <div class="is-flex is-justify-content-start">
    <i data-target="modal-link-new"
      class="bi bi-link-45deg is-main-icon link-trigger-edit is-clickable"></i>
    <p class="is-main is-font-md p-3">Links</p>
  </div>
  {% else %}
  <div class="is-flex is-justify-content-end">
    <p class="is-main is-font-md p-3 ">الروابط</p>
    <i data-target="modal-link-new"
      class="bi bi-link-45deg is-main-icon link-trigger-edit is-clickable"></i>
  </div>
  {% endif %}
  {% for link in bio.links.all|sortsites %}
  <a target="_blank" href="{{ link.url }}">
    <div class="col-auto">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text is-main-light-bg mr-1">{{ link.name }}</div>
        </div>
        <span type="text" class="form-control has-text-left rounded overflow-hidden" id="inlineFormInputGroup"><i class="bi bi-box-arrow-up-right"></i> {{ link.url }}</span>
      </div>
    </div>
  </a>
  {% endfor %}

</div>

{% endif %}

{% if bio.links.all|isdone %}
<div class="box is-section mx-6 my-4">

  {% if LANGUAGE_CODE == 'en' %}
  <div class="is-flex is-justify-content-center">
    {% if request.user == bio.owner or request.user.is_superuser %}
    <a href="{% url 'printpage' slug=bio.slug %}" class="button is-warning is-font-sm p-3 m-1">Print endorsement<i class="bi bi-printer mx-2"></i></a>
    {% endif %}
  </div>
  {% else %}
  <div class="is-flex is-justify-content-center">
    {% if request.user == bio.owner or request.user.is_superuser %}
    <a href="{% url 'printpage' slug=bio.slug %}" class="button is-warning is-font-sm  p-3 m-1"><i class="bi bi-printer mx-2"></i>طباعة تأييد</a>
    {% endif %}
  </div>
  {% endif %}

</div>
{% endif %}
