{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include './includes/head.html' %}
    <title>UoQ | CV project</title>
  </head>

  <body>

    {% include 'includes/header.html' %}

    <div class="box is-section mx-6 my-3">
      <form method="post" id="searchForm">{% csrf_token %}
        {% if LANGUAGE_CODE == 'en' %}
        <div class="is-flex is-justify-content-center is-align-items-center">
          <div class="container columns is-full-width is-flex-wrap-wrap is-align-items-center">
            <div class="column is-one-third is-flex is-flex-direction-column mx-2">
              <p class="is-main is-font-sm">Academic Title</p>
              <div class="select is-flex is-flex-direction-column">
                <select id="dropdown" name="academic_title" required>
                  <option value="Professor">Professor</option>
                  <option value="Assistant Professor">Assistant Professor</option>
                  <option value="Lecturer">Lecturer</option>
                  <option value="Assistant Lecturer">Assistant Lecturer</option>
                  <option value="All">All</option>
                </select>
              </div>
            </div>
            <div class="column is-flex is-flex-direction-column mx-2">
              <p class="is-main is-font-sm">College / Center</p>
              <div class="select is-flex is-flex-direction-column">
                <select id="dropdown" name="college" required>
                  <option value="Presidency of the University">Presidency of the University</option>
                  <option value="College of Education">College of Education</option>
                  <option value="College of Administration and Economics">College of Administration and Economics</option>
                  <option value="College of Arts">College of Arts</option>
                  <option value="College of Veterinary Medicine">College of Veterinary Medicine</option>
                  <option value="College of Medicine">College of Medicine</option>
                  <option value="College of Physical Education and Sports Sciences">College of Physical Education and Sports Sciences</option>
                  <option value="College of Science">College of Science</option>
                  <option value="College of Law">College of Law</option>
                  <option value="College of Engineering">College of Engineering</option>
                  <option value="College of Computer Science and Information Technology">College of Computer Science and Information Technology</option>
                  <option value="College of Agriculture">College of Agriculture</option>
                  <option value="College of Education for Women">College of Education for Women</option>
                  <option value="College of Pharmacy">College of Pharmacy</option>
                  <option value="College of Nursing">College of Nursing</option>
                  <option value="College of Dentistry">College of Dentistry</option>
                  <option value="College of Archaeology">College of Archaeology</option>
                  <option value="College of Biotechnology">College of Biotechnology</option>
                  <option value="College of Fine Arts">College of Fine Arts</option>
                  <option value="All">All</option>
                </select>
              </div>
            </div>
            <div class="column is-flex is-flex-direction-column mx-2">
              <p class="is-main is-font-sm ">Query</p>
              <button class="button" onclick="staffUrl('{% url 'getstaff' %}')"><i class="bi bi-people" aria-hidden="true"></i></button>
            </div>
            {% if request.user.is_superuser %}
            <div class="column is-flex is-flex-direction-column mx-2">
              <p class="is-main is-font-sm ">Excel</p>
              <button class="button" onclick="excelUrl('{% url 'excel' %}')"><i class="bi bi-file-earmark-spreadsheet" aria-hidden="true"></i></button>
            </div>
            {% endif %}
          </div>
        </div>
        {% else %}
        <div class="is-flex is-justify-content-center is-align-items-center">
          <div class="container columns is-full-width is-flex-wrap-wrap is-align-items-center">
            <div class="column is-one-third is-flex is-flex-direction-column mx-2">
              <p class="is-main is-font-sm ">الكلية أو المركز</p>
              <div class="select is-flex is-flex-direction-column">
                <select id="dropdown" name="ar_college" required>
                  <option value="رئاسة الجامعة">رئاسة الجامعة</option>
                  <option value="كلية التربية">كلية التربية</option>
                  <option value="كلية الأدارة والأقتصاد">كلية الأدارة والأقتصاد</option>
                  <option value="كلية الأداب">كلية الأداب</option>
                  <option value="كلية الطب البيطري">كلية الطب البيطري</option>
                  <option value="كلية الطب">كلية الطب</option>
                  <option value="كلية التربية البدنية وعلوم الرياضة">كلية التربية البدنية وعلوم الرياضة</option>
                  <option value="كلية العلوم">كلية العلوم</option>
                  <option value="كلية القانون">كلية القانون</option>
                  <option value="كلية الهندسة">كلية الهندسة</option>
                  <option value="كلية علوم الحاسوب وتكنولوجيا المعلومات">كلية علوم الحاسوب وتكنولوجيا المعلومات</option>
                  <option value="كلية الزراعة">كلية الزراعة</option>
                  <option value="كلية التربية للبنات">كلية التربية للبنات</option>
                  <option value="كلية الصيدلة">كلية الصيدلة</option>
                  <option value="كلية التمريض">كلية التمريض</option>
                  <option value="كلية طب الأسنان">كلية طب الأسنان</option>
                  <option value="كلية الأثار">كلية الأثار</option>
                  <option value="كلية التقانات الاحيائية">كلية التقانات الاحيائية</option>
                  <option value="كلية الفنون الجميلة">كلية الفنون الجميلة</option>
                  <option value="All">الكل</option>
                </select>
              </div>
            </div>
            <div class="column is-flex is-flex-direction-column mx-2">
              <p class="is-main is-font-sm ">القب العلمي</p>
              <div class="select is-flex is-flex-direction-column">
                <select id="dropdown" name="ar_academic_title" required>
                  <option value="أستاذ">أستاذ</option>
                  <option value="أستاذ مساعد">أستاذ مساعد</option>
                  <option value="مدرس">مدرس</option>
                  <option value="مدرس مساعد">مدرس مساعد</option>
                  <option value="All">الكل</option>
                </select>
              </div>
            </div>
            <div class="column is-flex is-flex-direction-column mx-2">
              <p class="is-main is-font-sm ">عرض التدريسيين</p>
              <button class="button" onclick="staffUrl('{% url 'getstaff' %}')"><i class="bi bi-people" aria-hidden="true"></i></button>
            </div>
            {% if request.user.is_superuser %}
            <div class="column is-flex is-flex-direction-column mx-2">
              <p class="is-main is-font-sm ">أكسيل</p>
              <button class="button" onclick="excelUrl('{% url 'excel' %}')"><i class="bi bi-file-earmark-spreadsheet" aria-hidden="true"></i></button>
            </div>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </form>
    </div>

    <div class="box is-section mx-6 my-3">
      {% if LANGUAGE_CODE == 'en' %}
      <h1 class="is-main is-font-md p-3">Search for a staff memeber</h1>
      {% else %}
      <h1 class="is-main  is-font-md p-3">البحث عن تدريسي</h1>
      {% endif %}
      <div class="is-flex is-justify-content-center is-align-items-center">
        <div class="container columns is-full-width is-flex-wrap-wrap is-align-items-center">
          <div class="column is-four-fifths is-flex is-flex-direction-column">
            <form action="{% url 'search' %}" method="get">
              <input class=" is-normal input " type="text" value="" name="query" type="text" autofocus
                {% if LANGUAGE_CODE == 'en' %}
                placeholder="Write the keyword here"
                {% else %}
                placeholder="أكتب الكلمة المفتاحية هنا"
                {% endif %}
                />
            </form>
            </div>
            <div class="column is-flex is-flex-direction-column mx-2">
              <button class="button is-normal" ><i class="bi bi-search" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if bios %}

    <div class="box is-section mx-6 my-3">

      {% if LANGUAGE_CODE == 'en' %}
      <div class="is-flex is-justify-content-start">
        <i class="bi bi-people-fill is-main-icon link-trigger-edit is-clickable"></i>
        <p class="is-main is-font-md p-3">Random Staff Biograhpy</p>
      </div>
      {% else %}
      <div class="is-flex is-justify-content-end mb-4">
        <p class="is-main is-font-md p-3 ">سيرة ذاتية لبعض التدريسين (عشوائياً)</p>
        <i class="bi bi-people-fill is-main-icon link-trigger-edit is-clickable"></i>
      </div>
      {% endif %}

      {% for bio in bios.all %}
        {% if bio.full_name %}
        {% if LANGUAGE_CODE == 'en' %}
        <a target="" href="/{{ LANGUAGE_CODE }}/@/{{ bio.slug }}">
        {% else %}
        <a target="" href="/{{ LANGUAGE_CODE }}/@/{{ bio.slug }}" style="direction:rtl">
        {% endif %}
        <div class="memeber-card m-3 has-background-white p-3">
            <div class="is-flex is-links-container is-align-items-center is-full-width">
              <img class="is-min-image" src="{{ bio.image.url }}" alt="BIO image">
              <div class="is-right-border"></div>
              <div  class="is-main " style=" overflow-x: auto;">
                  {% if LANGUAGE_CODE == 'en' %}
                    {% if bio.specialty %}
                      <span class="tag is-info is-light">{{ bio.specialty }}</span>
                    {% endif %}
                    <span class="my-3 is-black is-font-sm">{% if bio.academic_title %}<span class="tag is-primary is-light is-small"> {{ bio.academic_title }}</span>{% endif %} {{ bio.full_name }}</span>
                  {% else %}
                    {% if bio.ar_specialty %}
                      <span class="tag is-info is-light ">{{ bio.ar_specialty }}</span>
                    {% endif %}
                    <span class="my-3 is-black  is-font-sm">{% if bio.ar_academic_title %}<span class="tag is-primary is-light is-small "> {{ bio.ar_academic_title }}</span>{% endif %} {{ bio.ar_full_name }}</span>
                  {% endif %}
              </div>
            </div>
          </div>
        </a>
        {% endif %}
      {% endfor %}


    </div>

    {% endif %}

    {% include 'includes/footer.html' %}

  </body>
  <script src="{% static 'js/main.js' %}"></script>
</html>
