{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '../includes/head.html' %}
    <title>UoQ | Academic Staff Platform</title>
  </head>
  <body>

    {% include '../includes/header.html' %}
    {% include '../includes/sidebar.html' %}
    {% include '../includes/logo.html' %}

    <div class="mt-6">
      <div class="is-flex is-flex-direction-column is-align-items-center is-flex-wrap-wrap">
        <form id="registerForm" action="{% url 'register' %}" method="post">{% csrf_token %}
          <div class="box is-half-width is-flex is-flex-direction-column is-align-items-center">
            <div class="is-flex is-flex-direction-column">
              {% if LANGUAGE_CODE == 'en' %}
              <p class="is-main my-2 is-font-sm">First Name</p>
              {% else %}
              <p class="is-main my-2  is-font-sm">الأسم الأول</p>
              {% endif %}
              <input
                  class="reg-input input is-normal is-full-width"
                  type="text"
                  placeholder="Sajjad"
                  name="first_name"
                  />
            </div>
            <div class="is-flex is-flex-direction-column">
              {% if LANGUAGE_CODE == 'en' %}
              <p class="is-main my-2 is-font-sm">Last Name</p>
              {% else %}
              <p class="is-main my-2  is-font-sm">أسم الأب الكامل</p>
              {% endif %}
              <input
                  class="reg-input input is-normal is-full-width"
                  type="text"
                  placeholder="alDalwachee"
                  name="last_name"
                  />
            </div>
            <div class="is-flex is-flex-direction-column my-3">
              {% if LANGUAGE_CODE == 'en' %}
              <p class="is-main my-2 is-font-sm">University Email</p>
              {% else %}
              <p class="is-main my-2 is-font-sm">البريد الجامعي</p>
              {% endif %}
              <input
                  class="reg-input input is-normal is-full-width"
                  type="text"
                  placeholder="example@qu.edu.iq"
                  name="email"
                  />
            </div>
            <div class="is-block has-text-left my-3">
              {% if LANGUAGE_CODE == 'en' %}
              <p class="tag is-warning is-dark is-font-sm m-1">The Account details and Password will be send to your email</p>
              {% else %}
              <p class="tag is-warning is-dark is-font-sm m-1">سيتم إرسال تفاصيل الحساب وكلمة المرور إلى بريدك الإلكتروني</p>
              {% endif %}
            </div>
            <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-center">
              <div>
                <button class="button my-4 is-main-bg is-rounded is-white" type="submit" form="registerForm" onclick="this.disabled = true; document.getElementById('spinner').classList.add('spinner-grow'); document.getElementById('registerForm').submit();">
                  <span class="spinner-grow-sm" id="spinner" role="status" aria-hidden="true"></span>
                  <span class="sr-only">
                  {% if LANGUAGE_CODE == 'en' %}
                  Register
                  {% else %}
                  أنشاء حساب
                  {% endif %}
                  </span>
                </button>
              </div>
            </div>
          </div>
          <a class="button my-4 is-main-bg is-rounded is-white" href="{% url 'signin' %}">
            {% if LANGUAGE_CODE == 'en' %}
            Sign in
            {% else %}
            تسجيل الدخول
            {% endif %}
          </a>
        </form>
      </div>
    </div>
    {% include '../includes/footer.html' %}
  </body>
  <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</html>
