{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '../includes/head.html' %}
    <title>UoQ | CV project</title>
  </head>
  <body>

    {% include '../includes/header.html' %}
    {% include '../includes/sidebar.html' %}
    {% include '../includes/logo.html' %}

    <div class="mt-6">
      <div class="is-flex is-flex-direction-column is-align-items-center is-flex-wrap-wrap">
        <form id="registerForm" action="{% url 'register' %}" method="post">{% csrf_token %}
          <div class="box is-half-width is-flex is-flex-direction-column is-align-items-center">
            <div class="is-flex is-flex-direction-column">
              {% if LANGUAGE_CODE == 'en' %}
              <p class="is-main my-2 is-font-sm">First Name</p>
              {% else %}
              <p class="is-main my-2  is-font-sm">الأسم الأول</p>
              {% endif %}
              <input
                  class="reg-input input is-normal is-full-width"
                  type="text"
                  placeholder="Sajjad"
                  name="first_name"
                  />
            </div>
            <div class="is-flex is-flex-direction-column">
              {% if LANGUAGE_CODE == 'en' %}
              <p class="is-main my-2 is-font-sm">Last Name</p>
              {% else %}
              <p class="is-main my-2  is-font-sm">أسم الأب الكامل</p>
              {% endif %}
              <input
                  class="reg-input input is-normal is-full-width"
                  type="text"
                  placeholder="alDalwachee"
                  name="last_name"
                  />
            </div>
            <div class="is-flex is-flex-direction-column my-3">
              {% if LANGUAGE_CODE == 'en' %}
              <p class="is-main my-2 is-font-sm">University Email</p>
              {% else %}
              <p class="is-main my-2 is-font-sm">البريد الجامعي</p>
              {% endif %}
              <input
                  class="reg-input input is-normal is-full-width"
                  type="text"
                  placeholder="example@qu.edu.iq"
                  name="email"
                  />
            </div>
            <div class="is-flex is-flex-direction-column my-3">
              {% if LANGUAGE_CODE == 'en' %}
              <p class="is-main my-2 is-font-sm">Password</p>
              <div class="is-block has-text-left my-3">
                <p class="tag is-warning is-dark is-font-sm m-1">password must contain</p><br>
                <p class="tag is-warning is-light is-font-sm m-1">uppercase letters</p><br>
                <p class="tag is-warning is-light is-font-sm m-1">lowercase letters</p><br>
                <p class="tag is-warning is-light is-font-sm m-1">number</p><br>
                <p class="tag is-warning is-light is-font-sm m-1">special characters</p><br>
                <p class="tag is-warning is-dark is-font-sm m-1">password must not be</p><br>
                <p class="tag is-warning is-light is-font-sm m-1">similar to the email or the user name.</p>
              </div>
              {% else %}
              <p class="is-main my-2  is-font-sm">الرمز السري</p>
              <div class="is-block has-text-right my-3">
                <p class="tag is-warning is-dark is-font-sm m-1">الرمز السري يجب أن يحتوي</p><br>
                <p class="tag is-warning is-light is-font-sm m-1">أحرف كبيرة</p><br>
                <p class="tag is-warning is-light is-font-sm m-1">أحرف صغيرة</p><br>
                <p class="tag is-warning is-light is-font-sm m-1">أرقام</p><br>
                <p class="tag is-warning is-light is-font-sm m-1">رموز مختلفة</p><br>
                <p class="tag is-warning is-dark is-font-sm m-1">الرمز السري يجب أن لايكون</p><br>
                <p class="tag is-warning is-light is-font-sm m-1">مشابه لعنوان البريد أو أسم المستخدم</p>
              </div>
              {% endif %}
              <input class="reg-input input is-normal" type="password" name="password1" />
            </div>
            <div class="is-flex is-flex-direction-column my-3">
              {% if LANGUAGE_CODE == 'en' %}
              <p class="is-main my-2 is-font-sm">re-type Password</p>
              {% else %}
              <p class="is-main my-2  is-font-sm">أعد كتابة الرمز السري</p>
              {% endif %}
              <input class="reg-input input is-normal is-full-width" type="password" name="password2" />
            </div>
            <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-center">
              <div>
                <button class="button my-4 is-main-bg is-rounded is-white" type="submit" form="registerForm">
                  {% if LANGUAGE_CODE == 'en' %}
                  Register
                  {% else %}
                  أنشاء حساب
                  {% endif %}
                </button>
              </div>
            </div>
          </div>
          <a class="button my-4 is-main-bg is-rounded is-white" href="{% url 'signin' %}">
            {% if LANGUAGE_CODE == 'en' %}
            Sign in
            {% else %}
            تسجيل الدخول
            {% endif %}
          </a>
        </form>
      </div>
    </div>
    {% include '../includes/footer.html' %}
  </body>
  <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</html>
